.grid-container {
}

.grid-container div {
  width: 100px;
  height: 100px;
  float: left;
}

.grid-item:nth-child(1) {
  background-color: #ffd1dc;
} /* Pastel Pink */

.grid-item:nth-child(2) {
  background-color: #aec6cf;
} /* Pastel Blue */

.grid-item:nth-child(3) {
  background-color: #77dd77;
} /* Pastel Green */

.grid-item:nth-child(4) {
  background-color: #fdfd96;
} /* Pastel Yellow */

.grid-item:nth-child(5) {
  background-color: #cbaacb;
} /* Pastel Purple */

.grid-item:nth-child(6) {
  background-color: #ffb347;
  clear: left;
} /* Pastel Orange */

.grid-item:nth-child(7) {
  background-color: #ffb7b2;
} /* Pastel Coral */

.grid-item:nth-child(8) {
  background-color: #b39eb5;
} /* Pastel Lavender */

.grid-item:nth-child(9) {
  background-color: #c0c0b6;
} /* Pastel Gray */
