.grid-item {
  /* min-height: 200px; */
  /* width: 200px; */
}

.grid-item:nth-child(1) {
  background-color: #ffd1dc;
  grid-area: header;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
} /* Pastel Pink */

.grid-item:nth-child(1) h1 {
  margin: 0px;
}

.grid-item:nth-child(1) ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0px;
}

.grid-item:nth-child(2) {
  background-color: #aec6cf;
  grid-area: menu;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* grid-column: 2 / 5; */
  /* grid-column: 2 / span 3; */
} /* Pastel Blue */

.grid-item:nth-child(2) h2 {
}

.grid-item:nth-child(2) ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.grid-item:nth-child(3) {
  background-color: #77dd77;
  grid-area: main;
  /* grid-column: 3 / 7;
  grid-row: 1 / 4; */
  /* grid-column: 5 / 7; */
  /* grid-area: row-start / col-start / row-end / col-end; */
  /* grid-area: 1 / 3 / 4 / 7; */
  /* grid-area: 1 / 3 / span 3 / span 4; */
} /* Pastel Green */

.grid-item:nth-child(4) {
  background-color: #fdfd96;
  grid-area: right;
  /* grid-column: 1 / span 1;
  grid-row: 2 / span 3; */
} /* Pastel Yellow */

.grid-item:nth-child(5) {
  background-color: #cbaacb;
  grid-area: footer;
  /* grid-column: 2 / span 5;
  grid-row: 2 / span 3; */
} /* Pastel Purple */

.grid-item:nth-child(6) {
  background-color: #ffb347;
} /* Pastel Orange */

.grid-item:nth-child(7) {
  background-color: #ffb7b2;
} /* Pastel Coral */

.grid-item:nth-child(8) {
  background-color: #b39eb5;
} /* Pastel Lavender */

.grid-item:nth-child(9) {
  background-color: #c0c0b6;
} /* Pastel Gray */

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-areas: "myArea1 myArea1 myArea1 myArea3 myArea4 myArea5"; */
  grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "menu footer footer footer footer footer";
  gap: 16px;
}

@media screen and (max-width: 940px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "menu main main main main main"
      "menu right right right right right"
      "menu footer footer footer footer footer";
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "main main main main main main"
      "right right right right right right"
      "footer footer footer footer footer footer";
  }

  .grid-item:nth-child(2) {
    display: none;
  }
}
